@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&family=Roboto+Slab:wght@400;700&display=swap');
body{
  color: #303C4F;
  background-color: #F7F8F8;
  font-family: Poppins;
  font-weight: 200;
  font-size: 24px;
  line-height: 32px;
}

h1, h2, h3 {
  color: #C28061;
  font-family: Roboto Slab;
  font-weight: 400;
  line-height: 1em;
}

 .avatar {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
 }

a {
  color: #B3856C;
  text-decoration: none;
  transition: 0.3s;
  background-color:
}

.btn-blue {
  color: #F7F8F8;
  background-color: #89949B;
  padding: 4px 24px;
  border-radius: 4px;
  font-size: 32px;

}

.btn-blue:hover {
  color: #F7F8F8;
  background-color: #303C4F;
}

a:hover {
  color: #303C4F;
}

.container {
  width: 900px;
  margin: 0 auto;
}

.card {
  background-color: white;
  text-align: center;
  /*width: 720px;*/
  margin: 24px 0px;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgb(230, 230, 230);
}
.list-inline > li {
  display: inline-block;
  padding: 0 24px;
}

.list-inline {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
